*{
    margin :0;
    
  }

body {
    background-color: #1f1f1f;
    overflow: hidden;
}

.imageconnexion {
    background-image: url("../assets/imageconnexion.jpg");
    width: 780px;
    height: 610px; 
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.connexionmenu {
    background-color: #141414;
    width: 780px;
    height: 610px; 
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.card {
    display: flex;
    width: 1560px;
    margin: auto;
    margin-top: 230px;
}
/***************************************************************FORMULAIRE******************************************************************************/


.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 500px;
    position: relative;
    margin: auto;
 }
 
 .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
 
 }
 
 .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #AAEF71;
 }
 
 .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #141414;
 }
 
 .inputGroup :is(input:focus, input:valid) {
    border-color: #AAEF71;
 }
 
 input[type="search"]::-webkit-search-decoration,
 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-results-button,
 input[type="search"]::-webkit-search-results-decoration {
    display: none;
 }
 
 input,
 select,
 textarea {
    color: #AAEF71;
 }
 
 form button {
    font-family: monospace;
    font-size: 1.5rem;
    color: #AAEF71;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 20px;
    border: 2px solid #FAFAFA;
    background: #252525;
    margin-left: 87%;
    cursor: pointer;
    position: absolute;
 
 }